<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">signin</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="myForm" (ngSubmit)="onLogin()" autocomplete="off">

    <ion-grid fixed style="padding-top: 20px;">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Email</ion-label>
            <ion-input #inputEmail formControlName="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Password</ion-label>
            <ion-input #inputPassword formControlName="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-toggle [(ngModel)]="acvivateBioemetry" name="acvivateBioemetry" [ngModelOptions]="{standalone: true}"  checked="{{ acvivateBioemetry ? 'true' : 'false' }}" (ionChange)="toggleBiometry(acvivateBioemetry)">Habilitar biometria/FaceId</ion-toggle>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid fixed>
      <ion-row>
        <ion-col>
{{user | json}}
          <ion-button *ngIf="!acvivateBioemetry || (user === null && acvivateBioemetry)" (click)="onLogin()" expand="block" shape="round">
            Login
            <ion-icon slot="end" name="enter-outline"></ion-icon>
          </ion-button>

        </ion-col>
      </ion-row>
    </ion-grid>

  </form>

  <ion-grid fixed>
    <ion-row>
      <ion-col>

        <ion-button *ngIf="validateAuthBiometryAndFaceId && acvivateBioemetry && user !== null" (click)="authenticate()" expand="block" shape="round">
          Authenticate
          <ion-icon slot="end" name="color-filter-outline"></ion-icon>
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>






</ion-content>
